
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --hue: 79;
    --background: var(--hue) 36% 90%;
    --darktext: var(--hue) 16% 12%;
    --lighttext: var(--hue) 26% 85%;
    --header-footer: var(--hue) 35% 82%;
    --dark: var(--hue) 30% 17%;
    --cardspreads: var(--hue) 15% 20%;
    --darktable: var(--hue) 28% 12%;
    --levelsl: 70%, 60%;
    --focus: var(--hue) 80% 42%;      
}

*:focus {   
    outline: 2px dotted hsl(var(--focus));
}   

@mixin header-footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(var(--darktable));
    color: hsl(var(--header-footer));
}

@mixin rounder {
    border-radius: 12px;
}

@mixin pollen-background-picker($image, $position, $size) {
    background-image: url("../images/#{$image}.jpg");
    background-position: $position;
    background-size: $size;
}

@mixin bg-spreads {
    background-color: hsla(var(--cardspreads));
    padding: .5rem;
    color: hsl(var(--lighttext));
}

@mixin bg-card-content {
    background-color: hsla(var(--hue), 56%, 17%, .8);
    color: hsl(var(--lighttext));
}

@mixin bottom-formatting {
    padding: .25rem 0 2rem .5rem;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        text-align: center;
        padding: .25rem 0 1.5rem 0;
    }
}

@mixin hourly-row {
    background-color: hsl(var(--darktable));
    color: hsl(var(--lighttext));
}

@mixin highlighted-hour {
    background-color: hsl(var(--hue) 56% 35%);
    color: hsl(var(--darktable));
}

@mixin form-bits {
    padding: .75rem;
    margin-top: .35rem;
    border: 2px solid hsl(var(--hue), 56%, 32%);
}

@mixin header-title-with-undertext {
    margin: 0;
    padding: 1em 0 .25em 0;
}

@mixin light-link {
    color: hsl(var(--lighttext));
        
    &:hover, &:active {
        color: hsl(var(--header-footer));
    }
}

@mixin dark-link {
    color: hsl(var(--darktext));
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid;
        
    &:hover, &:active, &:focus {
        border-bottom: 2px dotted;
    }
}

@mixin label-font {
    font-size: clamp(1rem, 1.25rem, 1.5rem);
    color: hsl(var(--background));
    text-transform: capitalize;
    
    @media only screen and (max-width: 767px) and (orientation: portrait) {
        font-size: 1.15rem;
    }
}

@mixin level-font {
    font-size: clamp(1rem, 1.25rem, 1.5rem);
    font-weight: bold;
    text-transform: uppercase;
}

@mixin out-of-season-fade {
    opacity: .8;
}

@mixin level-font-tds {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin spread {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-flow: row;
    grid-gap: 1rem;
    place-content: center;
}

#scrollbarMeasurer {
    width: 100px;
    height: 100px;
    overflow: scroll;
    visibility: hidden;
    position: absolute;
}

body {
    background-color: hsl(var(--background));
    color: hsl(var(--darktext));
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.body-scrolling {
        overflow: hidden;
        padding-right: 1rem;
}

h2 {
    font-size: clamp(1.4rem, 1.5vw, 4rem);
}

h3 {
    font-size: clamp(1.3rem, 1.5vw, 3rem);
}

h2, .h3, .forecast__timestamp {
    color: hsl(var(--dark));
}

.forecast__title, .air-quality__title, .hourly_title, .daily-weather__title {
    @include header-title-with-undertext;
    color: hsl(var(--dark));
    padding-left: .25rem;
    
    @media only screen and (max-width: 767px) and (orientation: portrait) {
        text-align: center;
        padding-left: 0;
        padding-bottom: .75rem;
    }
}


.dark-link {
        @include dark-link;
    }

.light-link {
        @include light-link;
    }


//header and form

.header {
    grid-row: 1;
    text-align: center;
    @include header-footer;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
   
    h1 {
        font-size: clamp(1.5rem, 2.5vw, 5rem);
        text-transform: uppercase;
        @include header-title-with-undertext;
    }

    .header__tagline {
        font-size: clamp(.5rem, 1rem, 2rem);
        padding: 0 3% 2% 3%;
    }
}

.header-rollback {
    height: 400px;
    transition: height .5s ease-in-out;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        height: 300px;
        padding: 0 1em 0 1em;

        .header__tagline {
            display: none;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    flex-grow: 1;
}

.hide-content {
    opacity: 0;
    margin-top: 100vh;
}

.show-content {
    opacity: 1;
    margin-top: auto;
    transition: all .5s ease-in;
}

.hide-new-content {
    opacity: 0;
    transition: all .3s ease-out;
}

.show-new-content {
    opacity: 1;
    transition: all .3s ease-in;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}

section {
    padding: 0 2em 0 2em;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        padding: 0 1em 0 1em;
    }
}

.forecast-header {
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 1em;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        padding: .5em .5em 1em .5em;
        text-align: center;
    }
}

.forecast__header-h2 {
    @include header-title-with-undertext;
}

.forecast__timestamp {
    margin: 0;
    padding-left: .25rem;
    font-size: .75rem;
}

form {
    width: 100%;
    flex-wrap: wrap;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: 0 3% 1rem 3%;
    justify-content: center;
}

input {
    width: max(300px, 70%);
    height: 2rem;
    flex-grow: 1 0 0;
    color: hsl(var(--dark));
    background-color: hsl(var(--background));
    @include form-bits;
    @include rounder;


}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    input, input::placeholder {
        text-align: center;
    }
}

.button-submit {
    width: max(300px, 20%);
    height: 2rem;
    flex-grow: 1 0 0;
    @include form-bits;
    @include rounder;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
    font-weight: bold;
    background-color: hsl(var(--header-footer));
    color: hsl(var(--dark));
    word-wrap: none;
}

//Forecast Header 

.forecast-header {
    background-color: hsl(var(--header-footer));
}


//current hour's forecast

.forecast__cardspread {
    @include spread;

    @media only screen and (min-width: 768px) and (max-width: 1179px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 450px) and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 449px) and (orientation: portrait) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.forecast-card {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    @include rounder;
}

.birch {
    @include pollen-background-picker("birch", bottom, cover);
}

.alder {
    @include pollen-background-picker("alder", right, cover);
}

.grass {
    @include pollen-background-picker("grass", bottom, auto);
}

.mugwort {
    @include pollen-background-picker("mugwort", center, auto);
}

.ragweed {
    @include pollen-background-picker("ragweed", top, auto);
}

.olive {
    @include pollen-background-picker("olive", 10%, auto)
}



.forecast-card__content {
    @include bg-card-content;
    grid-row: 2;
    display: flex;
    min-width: 130px;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    padding: 2% 2% 4% 4.5%;

    a {
        color: hsl(var(--lighttext));
    }
    
    a:hover, a:active {
        color: hsl(var(--header-footer));
    }

    .no-link {
        opacity: 0.75;
    }
}

.forecast-card__allergen-label {
    @include label-font;
}

.forecast-card__allergen-level {
    @include level-font;
}

.forecast__bottom {
    @include bottom-formatting;
}


.low, .good {
    color: hsl(155, var(--levelsl));
    @include level-font-tds;
}

.fair {
    color: hsl(100, var(--levelsl));
    @include level-font-tds;
}

.medium, .moderate {
    color: hsl(69, var(--levelsl));
    @include level-font-tds;
}

.high, .poor {
    color: hsl(45, var(--levelsl));
    @include level-font-tds;
}

.very-poor {
    color: hsl(12, var(--levelsl));
    @include level-font-tds;
}

.hazardous, .extremely-poor {
    color: hsl(350, var(--levelsl));
    @include level-font-tds;
}

.out-of-season {
    @include out-of-season-fade;
    @include level-font-tds;
}

.out-of-season__grains {
    @include out-of-season-fade;
}

// forecast modals

dialog::backdrop {
    background-color: #2a2e11;
    opacity: .5;
    
    @media only screen and (max-width: 767px) {
        opacity: 1;
    }
}

.forecast-modal {
    border: 0;
    padding: 0;
    margin: auto;
    background-color: hsl(var(--darktable));
    color: hsl(var(--lighttext));
    height: 80vh;
    width: 60vw;
    overflow: hidden;
    @include rounder;

    @media only screen and (max-width: 767px) {
        height: 100vh;
        width: 100vw;
    }
}

.forecast-modal__close-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: .5rem .5rem 0 0;
    background-color: hsla(var(--hue), 36%, 20%, .95);
}

.forecast-modal__close-button {
    background: 0;
    border: 0;
    width: fit-content; 
    cursor: pointer;

}

.hourly__header {
    position: sticky;
    color: hsl(var(--lighttext));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem 0 .5rem;
    background-color: hsla(var(--hue), 36%, 20%, .95);
    h3 {
        text-transform: capitalize;
        color: hsl(var(--lighttext));
    }
}

.hourly__current-indicator {
    display: flex;
    gap: .5em;
    margin: 0;
    justify-content: center;
    padding-bottom: .5em;

    .box {
        @include highlighted-hour;
        width: 1.25rem;
        height: 1.25rem;
    }
    
    .definition {
        font-size: .75rem;
        width: fit-content;
        padding-top: .20em;
    }
}

.hourly-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: hsla(var(--hue), 58%, 12%, 0.95);    
    border-collapse: collapse;
    padding: 0;

    thead {
        position: sticky;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
        grid-auto-flow: row;
        place-content: center;
        place-items: center;
        background-color: hsla(var(--hue), 56%, 62%, 0.95);
        padding: .5em .5em .5em 0;
    }

    th {
         color: hsl(var(--darktext));
         text-align: center;
    }

    tbody {
        overflow: scroll;
        padding-bottom: 50vh;
    }

    tr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
        grid-auto-flow: row;
        padding: .5em .5em .5em 0;
        margin-right: -1em;
        border-top: 1px solid hsl(var(--cardspreads));
        
        td:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    .hourly-table__row-current {
        background-color: hsla(var(--hue), 56%, 35%, 0.95);
        color: hsl(var(--darktable));
    }

    td {
        border-collapse: collapse;
        text-align: center;
    }
}


//Current Hour's AQI

.air-quality {
    display: flex;
    flex-direction: column;
} 

.air-quality__spread {
    @include bg-spreads;
    @include spread;
    @include rounder;
}

.air-quality__label {
    @include label-font;
}

.air-quality__level {
    padding-right: .5rem;
}

.air-quality__reading {
    @include level-font;
    display: flex;
    align-items: baseline;
}

.air-quality__bottom {
    @include bottom-formatting;
}

//Daily Weather

.daily-weather__spread {
    @include bg-spreads;
    @include spread;
    @include rounder;
}

.daily-weather__header {
    padding-bottom: .5rem;
    
    .daily-weather__supplement {
        padding-left: .25rem;
    }

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            padding-bottom: .25rem;
        }
        .daily-weather__supplement {
            text-align: center;
            font-size: .75rem;
            width: 80%;
        }
    }
}

.daily-weather__card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    width: 100%;
    padding: 1em 0 1em 0;
    margin: auto;
}

.daily-weather__datapoint {
    padding-bottom: 1em;
}

.daily-weather__label {
    @include label-font;
}

.daily-weather__reading {
    @include level-font;
}

.back-to-top {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.back-to-top__button {
    border: 0;
    background: none;
    font-size: 1rem;
    color: hsl(var(--dark));
    font-weight: bold;
    cursor: pointer;
}

.back-to-top__icon {
    padding-top: .25rem;
}

footer {
    @include header-footer;
    margin-top: 3em;
    padding-top: .5em;
    padding-bottom: 2rem;
    text-align: center;
    color: hsl(var(--lighttext));
}

.credits {
    width: 85%;
    font-size: .75rem;
}