*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --background: var(--hue) 36% 90%;
  --cardspreads: var(--hue) 15% 20%;
  --dark: var(--hue) 30% 17%;
  --darktable: var(--hue) 28% 12%;
  --darktext: var(--hue) 16% 12%;
  --focus: var(--hue) 80% 42%;
  --header-footer: var(--hue) 35% 82%;
  --hue: 79;
  --levelsl: 70%, 60%;
  --lighttext: var(--hue) 26% 85%;
}

*:focus {
  outline: 2px dotted hsl(var(--focus));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--darktext));
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  height: 100vh;
  margin: 0;
}

.body-scrolling {
  overflow: hidden;
  padding-right: 1rem;
}

h2 {
  font-size: clamp(1.4rem, 1.5vw, 4rem);
}

h3 {
  font-size: clamp(1.3rem, 1.5vw, 3rem);
}

h2, .h3, .forecast__timestamp {
  color: hsl(var(--dark));
}

.forecast__title, .air-quality__title, .hourly_title, .daily-weather__title {
  margin: 0;
  padding: 1em 0 0.25em 0;
  color: hsl(var(--dark));
  padding-left: 0.25rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .forecast__title, .air-quality__title, .hourly_title, .daily-weather__title {
    padding-bottom: 0.75rem;
    padding-left: 0;
    text-align: center;
  }
}

.dark-link {
  border-bottom: 2px solid;
  color: hsl(var(--darktext));
  font-weight: 500;
  text-decoration: none;
}
.dark-link:hover, .dark-link:active, .dark-link:focus {
  border-bottom: 2px dotted;
}

.light-link {
  color: hsl(var(--lighttext));
}
.light-link:hover, .light-link:active {
  color: hsl(var(--header-footer));
}

.header {
  align-items: center;
  background-color: hsl(var(--darktable));
  color: hsl(var(--header-footer));
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  align-items: center;
  grid-row: 1;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2;
}
.header h1 {
  margin: 0;
  padding: 1em 0 0.25em 0;
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  text-transform: uppercase;
}
.header .header__tagline {
  font-size: 1rem;
  padding: 0 3% 2% 3%;
}

.header-rollback {
  height: 400px;
  transition: height 0.5s ease-in-out;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header-rollback {
    height: 300px;
    padding: 0 1em 0 1em;
  }
  .header-rollback .header__tagline {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0;
}

.hide-content {
  margin-top: 100vh;
  opacity: 0;
}

.show-content {
  margin-top: auto;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.hide-new-content {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.show-new-content {
  opacity: 1;
  transition: all 0.3s ease-in;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

section {
  padding: 0 2em 0 2em;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  section {
    padding: 0 1em 0 1em;
  }
}

.forecast-header {
  margin-bottom: 1em;
  padding-bottom: 2em;
  padding-top: 1em;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .forecast-header {
    padding: 0.5em 0.5em 1em 0.5em;
    text-align: center;
  }
}

.forecast__header-h2 {
  margin: 0;
  padding: 1em 0 0.25em 0;
}

.forecast__timestamp {
  font-size: 0.75rem;
  margin: 0;
  padding-left: 0.25rem;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 0.5em;
  justify-content: center;
  padding: 0 3% 1rem 3%;
  width: 100%;
}

input {
  border: 2px solid hsl(var(--hue), 56%, 32%);
  margin-top: 0.35rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(var(--background));
  color: hsl(var(--dark));
  flex-grow: 1 0 0;
  height: 2rem;
  width: max(300px, 70%);
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  input::-moz-placeholder {
    text-align: center;
  }
  input, input::placeholder {
    text-align: center;
  }
}
.button-submit {
  border: 2px solid hsl(var(--hue), 56%, 32%);
  margin-top: 0.35rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(var(--header-footer));
  color: hsl(var(--dark));
  cursor: pointer;
  flex-grow: 1 0 0;
  font-weight: bold;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  width: max(300px, 20%);
  word-wrap: none;
}

.forecast-header {
  background-color: hsl(var(--header-footer));
}

.forecast__cardspread {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  place-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .forecast__cardspread {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 450px) and (max-width: 767px) {
  .forecast__cardspread {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 449px) and (orientation: portrait) {
  .forecast__cardspread {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.forecast-card {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  border-radius: 12px;
}

.birch {
  background-image: url("/images/birch.jpg");
  background-position: bottom;
  background-size: cover;
}

.alder {
  background-image: url("/images/alder.jpg");
  background-position: right;
  background-size: cover;
}

.grass {
  background-image: url("/images/grass.jpg");
  background-position: bottom;
  background-size: auto;
}

.mugwort {
  background-image: url("/images/mugwort.jpg");
  background-position: center;
  background-size: auto;
}

.ragweed {
  background-image: url("/images/ragweed.jpg");
  background-position: top;
  background-size: auto;
}

.olive {
  background-image: url("/images/olive.jpg");
  background-position: 10%;
  background-size: auto;
}

.forecast-card__content {
  background-color: hsla(var(--hue), 56%, 17%, 0.8);
  color: hsl(var(--lighttext));
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  min-width: 130px;
  padding: 2% 2% 4% 4.5%;
}
.forecast-card__content a {
  color: hsl(var(--lighttext));
}
.forecast-card__content a:hover, .forecast-card__content a:active {
  color: hsl(var(--header-footer));
}
.forecast-card__content .no-link {
  opacity: 0.75;
}

.forecast-card__allergen-label {
  color: hsl(var(--background));
  font-size: 1.25rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .forecast-card__allergen-label {
    font-size: 1.15rem;
  }
}

.forecast-card__allergen-level {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.forecast__bottom {
  padding: 0.25rem 0 2rem 0.5rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .forecast__bottom {
    padding: 0.25rem 0 1.5rem 0;
    text-align: center;
  }
}

.low, .good {
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(155, var(--levelsl));
}

.fair {
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(100, var(--levelsl));
}

.medium, .moderate {
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(69, var(--levelsl));
}

.high, .poor {
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(45, var(--levelsl));
}

.very-poor {
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(12, var(--levelsl));
}

.hazardous, .extremely-poor {
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(350, var(--levelsl));
}

.out-of-season {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
}

.out-of-season__grains {
  opacity: 0.8;
}

dialog::backdrop {
  background-color: #2a2e11;
  opacity: 0.5;
}
@media only screen and (max-width: 767px) {
  dialog::backdrop {
    opacity: 1;
  }
}

.forecast-modal {
  border-radius: 12px;
  background-color: hsl(var(--darktable));
  border: 0;
  color: hsl(var(--lighttext));
  height: 80vh;
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: 60vw;
}
@media only screen and (max-width: 767px) {
  .forecast-modal {
    height: 100vh;
    width: 100vw;
  }
}

.forecast-modal__close-row {
  background-color: hsla(var(--hue), 36%, 20%, 0.95);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.forecast-modal__close-button {
  background: 0;
  border: 0;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

.hourly__header {
  align-items: center;
  background-color: hsla(var(--hue), 36%, 20%, 0.95);
  color: hsl(var(--lighttext));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;
  position: sticky;
}
.hourly__header h3 {
  color: hsl(var(--lighttext));
  text-transform: capitalize;
}
@media only screen and (max-width: 449px) and (orientation: portrait) {
  .hourly__header h3 {
    text-align: center;
  }
}

.hourly__current-indicator {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin: 0;
  padding-bottom: 0.5em;
}
.hourly__current-indicator .box {
  background-color: hsl(var(--hue), 56%, 35%);
  color: hsl(var(--darktable));
  height: 1.25rem;
  width: 1.25rem;
}
.hourly__current-indicator .definition {
  font-size: 0.75rem;
  padding-top: 0.2em;
  width: -moz-fit-content;
  width: fit-content;
}

.hourly-table {
  background-color: hsla(var(--hue), 58%, 12%, 0.95);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  width: 100%;
}
.hourly-table thead {
  background-color: hsla(var(--hue), 56%, 62%, 0.95);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  padding: 0.5em 0.5em 0.5em 0;
  place-content: center;
  place-items: center;
  position: sticky;
}
@media only screen and (max-width: 449px) and (orientation: portrait) {
  .hourly-table thead {
    font-size: 0.75rem;
    padding: 0.5em 0 0.5em 0;
  }
}
.hourly-table th {
  color: hsl(var(--darktext));
  text-align: center;
}
.hourly-table tbody {
  overflow: scroll;
  padding-bottom: 50vh;
}
.hourly-table tr {
  border-top: 1px solid hsl(var(--cardspreads));
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  margin-right: -1em;
  padding: 0.5em 0.5em 0.5em 0;
}
.hourly-table tr td:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hourly-table .hourly-table__row-current {
  background-color: hsla(var(--hue), 56%, 35%, 0.95);
  color: hsl(var(--darktable));
}
.hourly-table td {
  border-collapse: collapse;
  text-align: center;
}

.air-quality {
  display: flex;
  flex-direction: column;
}

.air-quality__spread {
  background-color: hsla(var(--cardspreads));
  color: hsl(var(--lighttext));
  padding: 0.5rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: flex-start;
}

.air-quality__datapoint {
  flex-grow: 1;
}

.air-quality__label {
  color: hsl(var(--background));
  font-size: 1.25rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .air-quality__label {
    font-size: 1.15rem;
  }
}

.air-quality__level {
  padding-right: 0.5rem;
}

.air-quality__reading {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  align-items: baseline;
  display: flex;
}

.air-quality__bottom {
  padding: 0.25rem 0 2rem 0.5rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .air-quality__bottom {
    padding: 0.25rem 0 1.5rem 0;
    text-align: center;
  }
}

.daily-weather__spread {
  border-radius: 12px;
  align-items: center;
  background-color: hsla(var(--hue), 36%, 20%, 0.55);
  color: hsl(var(--lighttext));
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.daily-weather__header {
  padding-bottom: 0.5rem;
}
.daily-weather__header .daily-weather__supplement {
  padding-left: 0.25rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .daily-weather__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .daily-weather__header h3 {
    padding-bottom: 0.25rem;
  }
  .daily-weather__header .daily-weather__supplement {
    font-size: 0.75rem;
    text-align: center;
    width: 80%;
  }
}

.daily-weather__category-weathercode {
  border-radius: 12px;
  background-color: hsl(var(--darktable));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: hsl(var(--darktable));
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.daily-weather__weather-info-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@keyframes icon-shift {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}
.weather-icon img {
  animation: icon-shift 3s infinite alternate;
  width: 100px;
}

.daily-weather__category {
  border-radius: 12px;
  background-color: hsl(var(--darktable));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding: 1rem;
}

.daily-weather__datapoint {
  background-color: hsl(var(--darktable));
  flex-grow: 1;
  padding: 0.5rem;
}

.daily-weather__label {
  color: hsl(var(--background));
  font-size: 1.25rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .daily-weather__label {
    font-size: 1.15rem;
  }
}

.daily-weather__reading {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.back-to-top {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.back-to-top__button {
  background: none;
  border: 0;
  color: hsl(var(--dark));
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

footer {
  align-items: center;
  background-color: hsl(var(--darktable));
  color: hsl(var(--header-footer));
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  color: hsl(var(--lighttext));
  margin-top: 3em;
  padding-bottom: 2rem;
  padding-top: 0.5em;
  text-align: center;
}

.credits {
  font-size: 0.75rem;
  width: 85%;
}/*# sourceMappingURL=style.css.map */