@charset "UTF-8";
*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --hue: 79;
  --background: var(--hue) 96% 90%;
  --darktext: var(--hue) 56% 12%;
  --lighttext: var(--hue) 76% 85%;
  --header-footer: var(--hue) 70% 72%;
  --dark: var(--hue) 40% 17%;
  --cardspreads: var(--hue) 35% 20%;
  --darktable: var(--hue) 58% 12%;
  --levelsl: 70%, 60%;
  --focus: var(--hue) 80% 42%;
}

*:focus {
  outline: 2px dotted hsl(var(--focus));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--darktext));
  font-family: system-ui;
  display: grid;
  margin: 0;
  grid-template-rows: repeat(4, auto);
}

.body-scrolling {
  overflow: hidden;
  padding-right: 14px;
}

h2 {
  font-size: clamp(1.75rem, 1.75vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 1.5vw, 3rem);
}

h2, .h3, .forecast__timestamp {
  color: hsl(var(--dark));
}

.forecast__title, .air-quality__title, .hourly_title, .daily-weather__title {
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  color: hsl(var(--dark));
  padding-left: 0.25rem;
}

.dark-link {
  color: hsl(var(--darktext));
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid;
}
.dark-link:hover, .dark-link:active, .dark-link:focus {
  border-bottom: 2px dotted;
}

.light-link {
  color: hsl(var(--lighttext));
}
.light-link:hover, .light-link:active {
  color: hsl(var(--header-footer));
}

.header {
  grid-row: 1;
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(var(--dark));
  color: hsl(var(--header-footer));
  padding-bottom: 2rem;
}
.header h1 {
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
}
.header .header__tagline {
  font-size: 1rem;
  padding: 0 3% 2% 3%;
}

section {
  padding: 0 2em 0 2em;
}

.forecast-header {
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.forecast__header-h2 {
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
}

.forecast__timestamp {
  margin: 0;
  padding-left: 0.25rem;
  font-size: 0.75rem;
}

form {
  width: 100%;
  flex-wrap: wrap;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0 3% 2% 3%;
  justify-content: center;
}

input {
  width: max(300px, 70%);
  height: 42px;
  flex-grow: 1 0 0;
  color: hsl(var(--dark));
  background-color: hsl(var(--background));
  padding: 0.75em;
  margin-top: 0.5em;
  border: 2px solid hsl(var(--hue), 56%, 32%);
  white-space: nowrap;
  border-radius: 12px;
}

button {
  width: max(300px, 20%);
  height: 42px;
  flex-grow: 1 0 0;
  padding: 0.75em;
  margin-top: 0.5em;
  border: 2px solid hsl(var(--hue), 56%, 32%);
  white-space: nowrap;
  border-radius: 12px;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
  font-weight: bold;
  background-color: hsl(var(--header-footer));
  color: hsl(var(--dark));
  word-wrap: none;
}

.forecast-header {
  background-color: hsl(var(--header-footer));
}

.forecast-card {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  border-radius: 12px;
}

.birch {
  background-image: url("../public/images/birch.jpg");
  background-position: bottom;
  background-size: cover;
}

.alder {
  background-image: url("../public/images/alder.jpg");
  background-position: right;
  background-size: cover;
}

.grass {
  background-image: url("../public/images/grass.jpg");
  background-position: bottom;
  background-size: auto;
}

.mugwort {
  background-image: url("../public/images/mugwort.jpg");
  background-position: center;
  background-size: auto;
}

.ragweed {
  background-image: url("../public/images/ragweed.jpg");
  background-position: top;
  background-size: auto;
}

.olive {
  background-image: url("../public/images/olive.jpg");
  background-position: 10%;
  background-size: auto;
}

.forecast__cardspread {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1rem;
  place-content: center;
  padding: 1rem;
  padding: 0;
}

.forecast-card__content {
  background-color: hsla(var(--hue), 56%, 17%, 0.8);
  padding: 0.5em;
  color: hsl(var(--lighttext));
  grid-row: 2;
  display: flex;
  min-width: 130px;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  padding: 0.75rem;
}
.forecast-card__content a {
  color: hsl(var(--lighttext));
}
.forecast-card__content a:hover, .forecast-card__content a:active {
  color: hsl(var(--header-footer));
}
.forecast-card__content .no-link {
  opacity: 0.75;
}

.forecast-card__allergen-label {
  font-size: 1.25rem;
  color: hsl(var(--background));
  text-transform: capitalize;
}

.forecast-card__allergen-level {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.forecast__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0 2em 0.5em;
}

.low, .good {
  color: hsl(155, var(--levelsl));
  font-weight: bold;
  text-transform: uppercase;
}

.fair {
  color: hsl(100, var(--levelsl));
  font-weight: bold;
  text-transform: uppercase;
}

.medium, .moderate {
  color: hsl(69, var(--levelsl));
  font-weight: bold;
  text-transform: uppercase;
}

.high, .poor {
  color: hsl(45, var(--levelsl));
  font-weight: bold;
  text-transform: uppercase;
}

.very-poor {
  color: hsl(12, var(--levelsl));
  font-weight: bold;
  text-transform: uppercase;
}

¨ .hazardous,
.extremely-poor {
  color: hsl(350, var(--levelsl));
  font-weight: bold;
  text-transform: uppercase;
}

.forecast-modal {
  border: 0;
  padding: 0;
  margin: auto;
  background-color: hsl(var(--darktable));
  color: hsl(var(--lighttext));
  height: 500px;
  width: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.forecast-modal__close-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5em;
  background-color: hsla(var(--hue), 36%, 20%, 0.95);
}

.forecast-modal__close-x {
  width: 12%;
}

.forecast-modal__close-button {
  background: 0;
  border: 0;
  width: fit-content;
  cursor: pointer;
}

.hourly__header {
  position: sticky;
  color: hsl(var(--lighttext));
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.5rem 0 0.5rem;
  background-color: hsla(var(--hue), 36%, 20%, 0.95);
}
.hourly__header h3 {
  text-transform: capitalize;
  color: hsl(var(--lighttext));
  padding: 0 0 0.5rem 0.5rem;
}

.hourly__current-indicator {
  display: flex;
  gap: 0.5em;
  margin: 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.hourly__current-indicator .box {
  background-color: hsl(var(--hue), 56%, 35%);
  color: hsl(var(--darktable));
  width: 2ch;
  height: 2ch;
}
.hourly__current-indicator .definition {
  font-size: 0.75rem;
  width: fit-content;
}

.hourly-table {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  position: sticky;
  top: 0;
  background-color: hsla(var(--hue), 58%, 12%, 0.95);
  border-collapse: collapse;
  padding: 0;
}
.hourly-table thead {
  display: flex;
  width: 500px;
}
.hourly-table tbody {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.hourly-table tr {
  display: flex;
  width: 100%;
}
.hourly-table td {
  flex-grow: 1;
  border-collapse: collapse;
  border-top: 1px solid hsl(var(--dark));
  padding: 0.5em;
  text-align: center;
}

th {
  background-color: hsla(var(--hue), 56%, 62%, 0.95);
  color: hsl(var(--darktext));
  padding: 1rem;
}

.hourly-table__row-current {
  background-color: hsla(var(--hue), 56%, 35%, 0.95);
  color: hsl(var(--darktable));
}

.air-quality {
  display: flex;
  flex-direction: column;
}

.air-quality__spread {
  background-color: hsla(var(--cardspreads));
  padding: 0.5em;
  color: hsl(var(--lighttext));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1rem;
  place-content: center;
  padding: 1rem;
  border-radius: 12px;
}

.air-quality__label {
  font-size: 1.25rem;
  color: hsl(var(--background));
  text-transform: capitalize;
}

.air-quality__level {
  padding-right: 0.5rem;
}

.air-quality__reading {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
}

.air-quality__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0 2em 0.5em;
}

.supplement {
  padding-left: 0.25rem;
}

.daily-weather__spread {
  background-color: hsla(var(--cardspreads));
  padding: 0.5em;
  color: hsl(var(--lighttext));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1rem;
  place-content: center;
  padding: 1rem;
  border-radius: 12px;
}

.daily-weather__header {
  padding-bottom: 0.5rem;
}

.daily-weather__card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  width: 100%;
  padding: 1em 0 1em 0;
  margin: auto;
}

.daily-weather__datapoint {
  padding-bottom: 1em;
}

.daily-weather__label {
  font-size: 1.25rem;
  color: hsl(var(--background));
  text-transform: capitalize;
}

.daily-weather__reading {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(var(--dark));
  color: hsl(var(--header-footer));
  margin-top: 3em;
  padding-top: 0.5em;
  padding-bottom: 2rem;
  text-align: center;
  color: hsl(var(--lighttext));
}

.credits {
  width: 85%;
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */